@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Information Report</h1>

<h3> Payroll (Sum off salespeople's sallary') </h3>

<p>R$ @ViewData["TotalFolhaPagamento"]</p>

<h3>Biggest Sallary of the company</h3>

<p> R$ @ViewData["MaiorSalario"]</p>

<h3>Lowest Sallary of the company</h3>

<p> R$ @ViewData["MenorSalario"]</p>

<h3>Avarage of the company Salarys</h3>

<p> R$ @ViewData["MediaSalario"]</p>


<h3>Company Partners</h3>

<p>  @ViewData["Ricos"]</p>